@charset "UTF-8";

.item-row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.out-div {
    overflow: auto;
}

.sm-width {
    min-width: 80px;
}

.md-width {
    min-width: 150px;
}

.lg-width {
    min-width: 180px;
}

.activity-td:hover {
    cursor: pointer;
}