<div class="row">
    <div class="col-xs-6">
        <label>
            <select class="form-control input-sm" ng-model="vm.params.perPage">
                <option ng-repeat="item in [10,30,50,100]" value="{{item}}">{{item}}</option>
            </select>
        </label>
    </div>
    <div class="col-xs-6">
        <ul class="pagination pull-right no-margin">
            <li class="prev disabled">
                <a href="#">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li class="active">
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li class="next">
                <a href="#">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>