<div class="row">
    <div class="col-xs-6">
        <label>
            <select class="form-control input-sm" ng-model="params.perPage" ng-change="loadData()">
                <option ng-repeat="item in [10,30,50,100]" value="{{item}}">{{item}}</option>
            </select>
        </label>
    </div>
    <div class="col-xs-6" ng-show="res.totalPage > 1">
        <ul class="pagination pull-right no-margin">
            <li ng-class="{prev:true,disabled:params.page <= 1}">
                <a href="javascript:void(0)" ng-click="addPage(-1)">
                    <i class="ace-icon fa fa-angle-double-left"></i>
                </a>
            </li>
            <li ng-class="{active:p == params.page}" ng-repeat="p in pageArr">
                <a href="javascript:void(0)" ng-click="changePage(p)">{{p}}</a>
            </li>
            <li ng-class="{next:true,disabled:params.page >= res.totalPage}">
                <a href="javascript:void(0)" ng-click="addPage(1)">
                    <i class="ace-icon fa fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>