<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>主页 - Mis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" href="/resources/assets/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/assets/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <!-- text fonts -->
    <link rel="stylesheet" href="/resources/assets/css/fonts.googleapis.com.css"/>
    <!-- ace styles -->
    <link rel="stylesheet" href="/resources/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style"/>
    <!-- angular notification -->
    <link rel="stylesheet" href="/resources/assets/css/angular-ui-notification.min.css"/>
    <!-- NProgress -->
    <link rel="stylesheet" href="/resources/assets/css/nprogress.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/resources/assets/css/ace-part2.min.css" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" href="/resources/assets/css/ace-skins.min.css"/>
    <link rel="stylesheet" href="/resources/assets/css/ace-rtl.min.css"/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/resources/assets/css/ace-ie.min.css"/>
    <![endif]-->

    <link rel="stylesheet" href="/resources/css/style.css">

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->
    <!--[if lte IE 8]>
    <script src="/resources/assets/js/html5shiv.min.js"></script>
    <script src="/resources/assets/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="no-skin" ng-app="myApp">
<div id="navbar" class="navbar navbar-default ace-save-state" ng-controller="NavController as vm">
    <div class="navbar-container ace-save-state" id="navbar-container">
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="/" class="navbar-brand">
                <small>
                    <i class="fa fa-leaf"></i>
                    Mis Admin
                </small>
            </a>
        </div>

        <div class="navbar-buttons navbar-header pull-right" role="navigation">
            <ul class="nav ace-nav">
                <li class="light-blue dropdown-modal">
                    <a data-toggle="dropdown" href="javascript:void(0)" class="dropdown-toggle">
                        <img class="nav-user-photo" src="/resources/assets/images/avatars/user.jpg"
                             alt="Jason's Photo"/>
                        <span class="user-info">
                            <small>欢迎你,</small>
                            {{vm.student}}
                        </span>
                        <i class="ace-icon fa fa-caret-down"></i>
                    </a>
                    <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                        <li>
                            <a href="javascript:void(0)" ng-click="vm.logout()">
                                <i class="ace-icon fa fa-power-off"></i>
                                退出
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-container -->
</div>

<div class="main-container ace-save-state" id="main-container">
    <div id="sidebar" class="sidebar responsive ace-save-state" ng-controller="MenuController as vm">
        <ul class="nav nav-list">
            <li ng-class="{active:vm.active('/dashboard')}">
                <a ui-sref="dashboard">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> 主页 </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li ng-class="{active:vm.active('/students')}">
                <a ui-sref="students.list">
                    <i class="menu-icon fa fa-users"></i>
                    <span class="menu-text"> 学生管理 </span>
                </a>
                <b class="arrow"></b>
            </li>
            <!--<li ng-class="{active:vm.active('/projects')}">
                <a ui-sref="students.list">
                    <i class="menu-icon fa fa-bookmark-o"></i>
                    <span class="menu-text"> 项目管理 </span>
                </a>
                <b class="arrow"></b>
            </li>-->
            <li ng-class="{active:vm.active('/qualityManage')}">
                <a ui-sref="qualityManage">
                    <i class="menu-icon fa fa-object-group"></i>
                    <span class="menu-text"> 综测管理 </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li ng-class="{active:vm.active('/myScore')}">
                <a ui-sref="myScore">
                    <i class="menu-icon fa fa-file-excel-o"></i>
                    <span class="menu-text"> 我的成绩单 </span>
                </a>
                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-folder-o"></i>
                    <span class="menu-text"> 我的综测 </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">
                    <li ng-class="{active:vm.active('/myQuality/list')}">
                        <a ui-sref="myQuality.list">
                            <i class="menu-icon fa fa-eye"></i>
                            查看
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li ng-class="{active:vm.active('/myQuality/edit')}">
                        <a ui-sref="myQuality.edit">
                            <i class="menu-icon fa fa-pencil-square-o"></i>
                            修改
                        </a>
                        <b class="arrow"></b>
                    </li>
                    <li ng-class="{active:vm.active('/myQuality/hz')}">
                        <a ui-sref="myQuality.hz">
                            <i class="menu-icon fa fa-braille"></i>
                            汇总
                        </a>
                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
               data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>

    <div class="main-content">
        <div class="main-content-inner" ui-view></div>
    </div><!-- /.main-content -->

    <div class="footer">
        <div class="footer-inner">
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Mis</span>
                    &copy; 2016-2020
                </span>
            </div>
        </div>
    </div>
</div><!-- /.main-container -->
<!--[if !IE]> -->
<script src="/resources/assets/js/jquery-2.1.4.min.js"></script>
<!-- <![endif]-->
<!--[if IE]>
<script src="/resources/assets/js/jquery-1.11.3.min.js"></script>
<![endif]-->
<script src="/resources/assets/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->
<!--[if lte IE 8]>
<script src="/resources/assets/js/excanvas.min.js"></script>
<![endif]-->
<script src="/resources/assets/js/jquery-ui.custom.min.js"></script>
<script src="/resources/assets/js/jquery.ui.touch-punch.min.js"></script>
<!-- ace scripts -->
<script src="/resources/assets/js/ace-elements.min.js"></script>
<script src="/resources/assets/js/ace.min.js"></script>
<!-- alert confirm dialog -->
<script src="/resources/assets/js/bootbox.js"></script>
<!-- angular js -->
<script src="/resources/assets/js/angular.min.js"></script>
<script src="/resources/assets/js/angular-ui-router.min.js"></script>
<script src="/resources/assets/js/angular-animate.min.js"></script>
<script src="/resources/assets/js/ui-bootstrap-tpls-2.1.3.min.js"></script>
<!-- chart -->
<script src="http://cdn.bootcss.com/Chart.js/2.2.2/Chart.min.js"></script>
<script src="//cdn.jsdelivr.net/angular.chartjs/latest/angular-chart.min.js"></script>
<!-- angular notification -->
<script src="/resources/assets/js/angular-ui-notification.min.js"></script>
<!-- NProgress -->
<script src="/resources/assets/js/nprogress.js"></script>

<!-- app js -->
<script src="/resources/js/app.js"></script>
<script src="/resources/js/services.js"></script>
<script src="/resources/js/filters.js"></script>
<script src="/resources/js/directives.js"></script>
<script src="/resources/js/controllers.js"></script>
</body>
</html>
