<div class="row">
    <div class="col-lg-12">
        <ma-view-actions>
            <ma-back-button></ma-back-button>
        </ma-view-actions>
        <a type="button" class="btn btn-success" href="/activities/export">导出为Excel</a>
        <button type="button" class="btn btn-default" ng-click="vm.showOrHide()">{{vm.btn.text}}</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 out-div">
        <table class="table table-bordered table-hover table-condensed table-responsive width-table">
            <thead>
            <tr>
                <th rowspan="2" class="sm-width">学号</th>
                <th rowspan="2" class="sm-width">姓名</th>
                <th colspan="{{vm.firstSet.length}}" ng-show="vm.btn.show">上学期成绩</th>
                <th colspan="{{vm.secondSet.length}}" ng-show="vm.btn.show">下学期成绩</th>
                <th colspan="{{project.itemList.length}}" ng-repeat="project in vm.projects">{{project.title}}</th>
            </tr>
            <tr>
                <th ng-repeat="item in vm.firstSet" class="sm-width" ng-show="vm.btn.show">{{item}}</th>
                <th ng-repeat="item in vm.secondSet" class="sm-width" ng-show="vm.btn.show">{{item}}</th>
                <th ng-repeat="item in vm.allItems" class="md-width">{{item.title}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm.qualities">
                <td>{{item.schoolNum}}</td>
                <td>{{item.name}}</td>
                <td ng-repeat="title in vm.firstSet" ng-show="vm.btn.show">
                    {{item.firstTerm.scores | scoreVoFilter:title }}
                </td>
                <td ng-repeat="title in vm.secondSet" ng-show="vm.btn.show">
                    {{item.secondTerm.scores | scoreVoFilter:title }}
                </td>
                <td ng-repeat="i in vm.allItems" class="activity-td" title="点击修改/查看"
                    ng-click="vm.showModifyDlg(i, item)"
                    ng-bind-html="i.scores | activityScoreFilter:item.schoolNum">
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/ng-template" id="model.html">
    <div class="modal-header">
        <h5>{{vm.quality.name}} {{vm.item.title}}</h5>
    </div>
    <div class="modal-body">
        <table class="table table-hover table-condensed">
            <thead>
            <tr>
                <th>标题</th>
                <th>分数</th>
                <th>备注</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in vm._items">
                <td>
                    <input type="hidden" ng-model="item.id"/>
                    <input type="text" class="form-control" ng-model="item.title"/>
                </td>
                <td>
                    <input type="number" class="form-control" ng-model="item.score"/>
                </td>
                <td>
                    <input type="text" class="form-control" ng-model="item.desc"/>
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-md" ng-click="vm.removeItem(item.row)">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="vm.addItem()">添加</button>
        <button class="btn btn-primary" ng-click="vm.ok()">保存</button>
        <button class="btn btn-warning" ng-click="vm.cancel()">取消</button>
    </div>
</script>