<section class="content-header">
    <ol class="breadcrumb">
        <li>
            <a ui-sref="dashboard">
                <i class="fa fa-dashboard"></i>
                主页
            </a>
        </li>
        <li class="active">学生列表</li>
    </ol>
</section>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="row">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" ng-model="vm.params.schoolNum" placeholder="学号"/>
                    </div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" ng-model="vm.params.name" placeholder="姓名"/>
                    </div>
                    <div class="col-lg-4">
                        <button type="button" class="btn btn-default" ng-click="vm.callback()">搜索</button>
                        <a type="button" href="/students/export" class="btn btn-default">导出为excel</a>
                    </div>
                </div>
            </div>
            <div class="box-body table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>年级</th>
                        <th>性别</th>
                        <th>班号</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="student in vm.students">
                        <td>{{student.schoolNum}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.grade}}</td>
                        <td>{{student.sex}}</td>
                        <td>{{student.classCode}}</td>
                        <td>
                            <div class="action-buttons">
                                <a class="text-Primary" ng-href="#/students/show/{{student.schoolNum}}">
                                    <i class="ace-icon fa fa-eye bigger-130"></i>
                                </a>
                                <a class="text-warning" href="javascript:void(0)"
                                   ui-sref="students.edit({schoolNum:student.schoolNum})">
                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                </a>
                                <a class="text-danger" href="javascript:void(0)" ng-click="vm.delete(student.schoolNum)">
                                    <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <pagination params="vm.params" load="vm.list" control="vm.control" ng-transclude></pagination>
            </div>
        </div>
    </div>
</div>